body{
    margin: 0;
    text-align: center;
    font-family: 'Microsoft New Tai Lue', sans-serif;
    color: black;
    
}
h1{
    margin: 0;
    font-family: 'great vibes' , cursive;
    font-size : 4em;
    color: #66BFBF;
}

h2{
    font-family: 'Montserrat Thin' , sans-serif;
    color:#6cbfbf
}
h2:hover{
    text-decoration: underline ;
}

h3{
    font-family: 'Montserrat Thin' , sans-serif;
    color: #63c0c0;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 5%;
    color: grey;
    margin-top: 40px;
    margin-bottom: 40px;
}
p{
    color: black;
    border-width: 5px;;
}
a{
    text-decoration: none;
    color: #11999E;
    size: 110%;
    margin: 10px 20px;
}

a:hover{
    color: grey;

}


.top-container{
    background-color: #E4F9F5;
    margin: 0;
    padding: 100px;
    height: 520px;

}

    .container{
    background-color: blue;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 200px;

  
    }

    .bottom-cloud {
        position: absolute;
        left: 300px;
        top: 180px;
        height: 2cm;
    }

    .top-cloud{
        margin: 0;
        position: absolute;
        right: 250px;
        top: 20px;
        height: 2cm;
    }


    .mountain{

        position: absolute;
        bottom:45px;
        right: 280px;
        height: 480px;
       
    }

    .skill-1 {
        height: 250px;
        width: 250px;
        border-radius: 100%;
        margin: 20px;
    }

    .table-1{
        margin-left: 280px;
    }
    .table-2{
        margin-left: 280px;
    }

    .skill{
        color: #11999E;
    }

    .contact-me{
        margin: 0;
    }

    .bottom-container{
        background-color: #66BFBF;
        margin-top: 20px;
        padding-bottom: 30px;
    }

    .special{
        color: grey;
    }
    .table-2{
       margin:auto;
    }
    th{
        font-family: 'Montserrat Thin';
        font-size: 1.5rem;
        color:grey ;
    }
    th:hover{
        text-decoration: underline;
    }
.star:hover{
font-size: 1.2rem;
}